.navbar-nav {
  margin-left: auto;
}
.nav-item {
  padding-right: 1.5rem !important;
  font-weight: 500;
}
nav .navbar-nav li a:hover {
  color: rgb(0, 209, 174) !important;
}
.bg-pattern {
  max-width: 20%;
  height: auto;
}
.author {
  max-width: 100%;
  height: auto;
}
