body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navigation {
  background: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(0, 10, 20, 0.15);
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  height: 80px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(249, 255, 254);
  color: rgb(76, 173, 79);
  font-weight: 600;
  border-radius: 1px;
}

li a.active {
  background-color: rgb(249, 255, 254);
  color: rgb(76, 173, 79);
  font-weight: 600;
  border-radius: 1px;
}

.logo {
  height: 50px;
  margin-top: 15px;
  padding-right: 100px;
}
.nav-text {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  float: right;
  margin-right: 70px;
}
.social {
  margin: 15px 50px 0px 0px;
  float: right;
  margin-top: 15px;
}

.social:hover {
  opacity: 90% !important;
}

.fa-facebook {
  background: #416ece;
  color: white;
}
